tests/test.yml
site
.vagrant
*.retry
*.log
# inventories
.cache
roles/bertvv.samba
roles/geerlingguy.docker
roles/geerlingguy.nfs
website/.docusaurus
website/node_modules

# Vim
[._]sw[a-p]

# Session
Session.vim

# IntelliJ
/.idea/

# Vault
vault.yml
vault*.yml
vault_password*.txt
.vault_pass
.vault-password

# Local secrets / environment overrides
.env
.env.*
!.env.example
*.local.yml
*.secret.yml

# Backups, editor cruft, stray keys/certs (added for public-repo safety)
*.bak
*.bak.*
*.orig
*~
*.pem
*.key
*.p12
*.pfx
*.decrypted
